<div class="container_12">
  <div class="grid_7" >
        <table class="grid_7" id="songs_list">
              <tr>
              <th>Title</th>
              <th>Artist</th>
              <th>Album</th>
              <th>Category</th>
              <th>Link</th>
              <th></th>
              </tr>
            <% @songs.each do |song| %>
            <tr>
                <td><%= song.title %></td>
                <td><%= song.artist %></td>
                <td><%= song.album %></td>
                <td><%= get_category(song.category_id) %></td>
                <td><%= song.link %></td>
                <td><%= link_to("Delete", song, :confirm => "Are you sure?", :method => :delete, :class => 'action edit' ) %></td>
                <tr>
              <% end %>
        </table>
  </div>
</div>