<% @category_title = "Songs List" %>

<%= link_to("<< Back to categorys List", {:controller => "categories", :action => 'list', :subject_id => @category.subject_id}, :class => 'back-link') %>

<div class="song list">
  <h2>Songs</h2>
  
  <%= link_to("Add New Song", {:action => 'new', :category_id => @category.id}, :class => 'action new') %>

  <table class="listing" summary="Song list">
    <tr class="header">
      <th>&nbsp;</th>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Images</th>
      <th>Song</th>
      <th>Comments</th>
      <th>Content Type</th>
      <th>Actions</th>
    </tr>
    <% @songs.each do |song| %>
    <tr>
      <td><%= song.position %></td>
      <td><%= song.name %></td>
      <td class="center"><%= status_tag(song.visible) %></td>
      <td class="center"><%= song.content_type %></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'show', :id => song.id, :category_id => @category.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => song.id, :category_id => @category.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => song.id, :category_id => @category.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
