<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>My CMS <%= "| #{@page_title}" if @page_title %></title>
    <meta name="author" content="James Adeola">
    <%= stylesheet_link_tag('public') %>
  </head>
  <body>
    <div id="header">
      <h1>My CMS</h1>
    </div>
    <div id="main">
      <div id="navigation">
        <%= link_to "Admin Login", 'access/login'  %>
        <%= render(:partial => 'layouts/navigation', :locals => {:subjects => @subjects}) %>
      </div>
      <div id="content">
        <% @subjects.each do |s| %>
          <%= s.name %>
          <%= s.position %>
        <% end %>
        <%= yield %>
      </div>
      <div class="clear"></div>
    </div>
    <div id="footer">
      <p id="copyright">&copy;James Adeola</p>
    </div>
  </body>
</html>
